main {
    display: grid;
    grid-template-areas: "header header header", "content content aside aside", "footer footer footer";
}

header {
    grid-area: header;
}

content {
    grid-area: content;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}