body {
    background-color: black;
}

.boton1 {
    float: left;
}

.boton2 {
    float: right;
}

#tablero {
    margin-top: 10px;
    background: url(wep), url(C:\Users\usuario\Pictures\proyecto);
    box-shadow: 0 10px 10px -6px black;
    border-radius: 3px 3px;
    border-collapse: collapse;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}